@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-text: #1F1F1F;
  --color-accent: #ff8c42;

  --radius-xl: 28px;

  --font-display: var(--font-display), serif;
}

body {
  background: var(--color-bg);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-style: bold;
  letter-spacing: inherit;
}

html {
  scroll-behavior: smooth;
}